* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: #36454F;
}

body {
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: black;
  position: sticky;
}

.dashboard h1 {
  margin-right: auto;
  color: white;
}

.dashboard ul li {
  font-size: 20px;
  display: inline-block;
  color: white;
  padding-right: 25px;
  text-decoration: none;
}

.dashboard a {
  text-decoration: none;
  color: white;
}

.dashboard a:hover {
  color: blue;
}

.nav-button {
  display: none;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.menu-list li {
  margin: 10px 0;
}

.menu-list li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.menu-container {
  display: block;
}

.menu-list {
  display: block;
}

@media (max-width: 550px) {
  .nav-button {
    background-color: transparent;
    color: green;
    cursor: pointer;
    display: block;
  }
  .nav-button.open {
    display: none;
  }
  .nav-list.open {
    display: block;
  }
  .menu-container {
    background-color: black;
    padding: 20px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
  }
  .menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
  }
  .menu-list li {
    margin: 10px 0;
  }
  .menu-list li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
}
/*KILDE TIL ALT DETTE HER 
https://openclassrooms.com/en/courses/5625786-produce-maintainable-css-with-sass/5725096-add-breakpoints-for-responsive-layouts*/
.gameCard {
  border: 2px solid orange;
  border-radius: 4px;
  box-shadow: 0px 24px 71px -3px rgba(0, 0, 0, 0.1);
  background-color: green;
  flex-grow: 1;
}

.gameCard_image {
  width: 100%;
  height: auto;
}

.cardName {
  text-align: center;
}

.genres {
  text-align: center;
}

/*KILDE TIL ALT DETTE HER 
https://openclassrooms.com/en/courses/5625786-produce-maintainable-css-with-sass/5725096-add-breakpoints-for-responsive-layouts*/
.shopDashBoard {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 1rem;
}
@media only screen and (max-width: 509px) {
  .shopDashBoard {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
  }
}

.shopDashBoard h3 {
  color: white;
  font-size: 12px;
}

#shopDashBoardTitle {
  color: white;
  text-align: center;
}

.shopDashBoard a {
  text-decoration: none;
}

.gameDetails h2 {
  color: white;
}

.gameDetails p {
  color: white;
} /*KILDE TIL ALT DETTE HER 
https://openclassrooms.com/en/courses/5625786-produce-maintainable-css-with-sass/5725096-add-breakpoints-for-responsive-layouts*/
.gamesDashBoard {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 1rem;
}
@media only screen and (max-width: 509px) {
  .gamesDashBoard {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
  }
}

.gamesDashBoard h3 {
  color: white;
  font-size: 12px;
}

#GamesDashTitle {
  color: white;
  text-align: center;
}

.gamesDashBoard a {
  text-decoration: none;
}

/*KILDE TIL ALT DETTE HER 
https://openclassrooms.com/en/courses/5625786-produce-maintainable-css-with-sass/5725096-add-breakpoints-for-responsive-layouts*/
.FrontDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "Shop Shop Shop Fav" "Game Game Game Fav" "Foot Foot Foot Foot";
}
@media only screen and (max-width: 509px) {
  .FrontDisplay {
    grid-template-areas: "Shop Shop" "Game Game" "Fav Fav" "Foot Foot";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
@media only screen and (min-width: 510px) {
  .FrontDisplay {
    grid-template-areas: "Shop Shop Shop" "Game Game Game" "Fav Fav Fav" "Foot Foot Foot";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1051px) {
  .FrontDisplay {
    grid-template-areas: "Shop Shop Fav" "Game Game Fav" "Foot Foot Foot";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

#ShopFront {
  grid-area: Shop;
}

#GamesFront {
  grid-area: Game;
}

#FavFront {
  grid-area: Fav;
}

/*KILDE TIL ALT DETTE HER 
https://openclassrooms.com/en/courses/5625786-produce-maintainable-css-with-sass/5725096-add-breakpoints-for-responsive-layouts*/

/*# sourceMappingURL=main.css.map */
