#Footer {
    background-color: black;
    height:125px;
    border-top: 5px black;
    width: 100%;
    position: absolute;
    bottom: 0px; left: 0;
}

#Footer p{
    margin: 0 0;
    color: white;
}