html {
    background-color:#36454F;
}

body {
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: black;
}

.dashboard h1 {
    margin-right: auto;
    color: white;
}
    
.dashboard ul li {
    font-size: 20px;
    display: inline-block;
    color: white;
    padding-right: 25px;
    text-decoration: none;
}

.dashboard a {
    text-decoration: none;
    color: white;
}

.dashboard a:hover {
    color:blue;
}

