@import './responsive.scss';

.gamesDashBoard {
    display:flex;
    justify-content: center;
    gap: 15px;
    margin-top: 1rem;

    @include xs-breakpoint {
        display: block;
        text-align: center; 
        margin-top: 0.5rem; 
    }
}

.gamesDashBoard h3 {
    color: white;
    font-size: 12px;
}

#GamesDashTitle{
    color: white;
    text-align: center;
}

.gamesDashBoard a {
    text-decoration: none;
}
